@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Merriweather:wght@400;700;900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";


@layer base {

  html,
  body {
    font-family: 'Inter', sans-serif;
  }

  /* This forces the prose headings to use the serif font */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif !important;
  }
}

/* to Prevent AI-generated tables from breaking mobile screens */
.prose table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

/* Force long AI links or words to wrap instead of pushing the screen */
.prose a, .prose p, .prose h2, .prose h3 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}